.contentsContainer {
  background-color: white;
  color: black;
  text-align: center !important;
  /* height: 100vh !important; */
}

.contentsTitle {
  margin: 0%;
}

/* Accordion Styles */
.MuiAccordionDetails-root {
  display: flex !important;
  justify-content: center;
}

#green {
  background-color: rgb(13, 214, 114);
}

#gray {
  background-color: rgb(177, 177, 177);
}

#yellow {
  background-color: rgb(231, 255, 20);
}

#blue {
  background-color: rgb(6, 101, 165);
  color: white;
}

#pink {
  background-color: rgb(214, 51, 187);
  color: white;
}

/* White contents */
.contentsWhiteX {
  display: grid;
  height: 100vh;
}

.contentLink {
  width: 100% !important;
  margin-top: 10px;
  color: black;
}

/* Green Contents */
.contentsGreen {
  display: grid;
  background-color: rgb(13, 214, 114);
  height: 100vh;
}

/* Gray Pages */
.contentsGray {
  display: grid;
  background-color: rgb(177, 177, 177);
  height: 100vh;
}

/* Yellow Contents */
.contentsYellow {
  display: grid;
  background-color: rgb(231, 255, 20);
  height: 100vh;
}

/* Blue Contents */
.contentsBlue {
  display: grid;
  background-color: rgb(6, 101, 165);
  color: white;
  height: 100vh;
}

.contentsBlue a {
  color: white;
}

/* White Contents */
.contentsWhite {
  display: grid;
  height: 100%;
}

/* Pink Contents */
.contentsPink {
  display: grid;
  background-color: rgb(214, 51, 187);
  color: white;
  height: 100vh;
}

.contentsPink a {
  color: white;
}
