/* Refuse */
.refuse_container {
  height: fit-content;
  text-align: center;
  box-shadow: 0px 10px 5px #3a3939;
  background-color: rgb(177, 177, 177);
}
/*=======================================*/

/* Thunder */
.thunder_container {
  height: fit-content;
  text-align: center;
  box-shadow: 0px 10px 5px #3a3939;
  background-color: rgb(177, 177, 177);
}
/*=======================================*/

/* Tree */
.tree_container {
  height: fit-content;
  text-align: center;
  box-shadow: 0px 10px 5px #3a3939;
  background-color: rgb(177, 177, 177);
}
/*=======================================*/

/* Powerline */
.powerline_container {
  height: fit-content;
  text-align: center;
  box-shadow: 0px 10px 5px #3a3939;
  background-color: rgb(177, 177, 177);
}
/*=======================================*/

/* Roadside */
.roadside_container {
  height: fit-content;
  text-align: center;
  box-shadow: 0px 10px 5px #3a3939;
  background-color: rgb(177, 177, 177);
}
/*=======================================*/

/* UXO */
.uxo_container {
  height: fit-content;
  text-align: center;
  box-shadow: 0px 10px 5px #3a3939;
  background-color: rgb(177, 177, 177);
}

.uxo_container table {
  width: 100%;
  border: black solid 0px;
}

.uxo_container td {
  border: black solid 0px;
}
/*=======================================*/

/* OIL */
.oil_container {
  height: fit-content;
  text-align: center;
  box-shadow: 0px 10px 5px #3a3939;
  background-color: rgb(177, 177, 177);
}
/*=======================================*/

/* SmokeHaz */
.smokeHaz_container {
  height: fit-content;
  text-align: center;
  box-shadow: 0px 10px 5px #3a3939;
  background-color: rgb(177, 177, 177);
}
/*=======================================*/

/* SmokeTrans */
.smokeTrans_container {
  height: fit-content;
  text-align: center;
  box-shadow: 0px 10px 5px #3a3939;
  background-color: rgb(177, 177, 177);
}

/*=======================================*/

/* Last */
.last_container {
  height: fit-content;
  text-align: center;
  box-shadow: 0px 10px 5px #3a3939;
  background-color: rgb(177, 177, 177);
}
